html {
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
  @-moz-viewport { width: device-width; scale: 1; }
  @-ms-viewport { width: device-width; scale: 1; }
  @-o-viewport { width: device-width; scale: 1; }
  @-webkit-viewport { width: device-width; scale: 1; }
  @viewport { width: device-width; scale: 1; }
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  display: inline-block;
}

.img-flex {
  display: inline-block;
  width: 100%;
}

.text {
  margin: 1em;
}

body {
  background-color: #e2e2e2;
  margin: 0;
}

h2 {
  font-family: Denk One, sans-serif;
  font-size: 1.5rem;
}
